<h6>Update "{{question.title}}"</h6>
<div>
  <form>
    <div class="form-group">
      <label for="title">Question</label>
      {{input value=title placeholder=questionEditting.title}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author placeholder=questionEditting.author}}
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      {{input value=notes placeholder=questionEditting.notes}}
    </div>

    <button {{action 'update' question}}>Save</button>
  </form>
</div>
